@model Programmers_Test.Models.TicketSearchViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h1>@Localizer["SearchTickets"]</h1>

<!-- Search Form -->
<form asp-action="Search" method="get">
    <p>
        Project Name: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Search" asp-route-sortOrder="@(ViewData["ProjectSort"]?.ToString())">@Localizer["ProjectNameLabel"]</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sortOrder="@(ViewData["DepartmentSort"]?.ToString())">@Localizer["DepartmentNameLabel"]</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sortOrder="@(ViewData["DateSort"]?.ToString())">@Localizer["ProjectNameLabel"]</a>
            </th>
            <th>
                <a asp-action="Search" asp-route-sortOrder="@(ViewData["RequestorSort"]?.ToString())">@Localizer["RequestedByLabel"]</a>
            </th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            <tr>
                <td>@ticket.Project</td>
                <td>@Html.DisplayFor(modelItem => ticket.Department.DepartmentName)</td>
                <td>@ticket.DateTimeSubmitted.ToString("g")</td>
                <td>@Html.DisplayFor(modelItem => ticket.Employee.EmployeeName)</td>
                <td>@ticket.Description</td>
            </tr>
        }
    </tbody>
</table>
<div class="form-group">
    @Html.ActionLink("Create New Ticket", "Create", "Tickets", null, new { @class = "btn btn-primary" })

    @Html.ActionLink("Chart", "Chart", "Tickets", null, new { @class = "btn btn-primary" })
</div>
